<section id="home">
    <div class="container-fluid">
         <div  class="row backkk">
             <div class="ll content">
                 <div class="min-contentt">
                    <div class="col-md-5 mb-5">
                    <h1 class="headingSize COLORWHITE">Guiding Patients and Empowering Care</h1>
                    </div>
                     <div class="col-md-10 offset-md-1 backgradiant"> 
                         <h2 class="colorAqua">Our Mission</h2>
                         <p class="fs-4 COLORWHITE">To provide free, individualized navigation to help patients and loved ones manage a primary brain tumor diagnosis, overcome treatment obstacles, and facilitate access to quality healthcare.</p>
                         <hr class="w-25 m-auto mb-3 hrH">
                     </div>
                 </div>
             </div>
         </div>
    </div>
 </section>

 <section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>How can we help you?</h1>
                <p class="fs-5">Brain Tumor Network is a trusted source for reliable information about primary brain tumors. Our dedicated, neuro-oncology navigators help you find answers to the difficult questions you may be asking yourself:</p>
                <ul class="lead">
                    <li>Where do I begin?</li>
                    <li>Should I get a second opinion?</li>
                    <li>What are my treatment options?</li>
                    <li>What can I expect next?</li>
                </ul>
            </div>
            <div class="col-md-6">
                <iframe width="500" height="315"src="https://www.youtube.com/embed/bvdN5qC44Qo?rel=0"></iframe>
            </div>
        </div>
    </div>
 </section>

 <section id="fourthSection">
    <div class="testingone mt-5">
        <div class="container">
            <h2>Navigation Services</h2>
            <div class="row upTesting">
                <div class="col-md-3">
                    <div class="box text-center">
                        <div class="serv">
                            <i class="fa-solid fa-brain"></i>
                        </div>
                        <div class="person-info mt-2">
                            <h4>Understand Your Diagnosis</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box text-center">
                        <div class="serv">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="person-info mt-2">
                            <h4>Explore Treatment Options</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box text-center">
                        <div class="serv">
                            <i class="fa-solid fa-headset"></i>
                        </div>
                        <div class="person-info mt-2">
                            <h4>Receive Emotional Support</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box text-center">
                        <div class="serv">
                            <i class="fa-solid fa-handshake-angle"></i>
                        </div>
                        <div class="person-info mt-2">
                            <h4>Get Medical Records Assistance</h4>
                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center forcolorNav">
                    <a href="https://www.braintumornetwork.org/navigation-services/" class="btn btn-Bg">Explore Navigation Service</a>
                    <h3 class="mt-4">What is a patient navigator?</h3>
                    <p class="lead fs-3 mt-3">Our brain tumor patient navigators are professionals guiding patients and caregivers through every phase of brain tumor care with personalized one-on-one options, information, and support.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="transition">
		<div class="first">
			<div class="formargin">
				<a class="btn" href="https://www.braintumornetwork.org/get-support/">
                    <img src="assets/images/GetSupport.png" alt="braintumornetwork">
                    <div class="son">
                        <h2 class="mahmoud">Connect With a Navigator</h2>
                    </div>
                </a>
			</div>
		</div>
		<div class="first">
			<div class="formargin">
                <a class="btn" href="https://proton.apollohospitals.com/cancer-support-group/">
                    <img src="assets/images/csp.jpg">
                    <div class="son">
                        <h2 class="mahmoud">cancer support group</h2>
                    </div>
                </a>
			</div>
		</div>
		<div class="first">
			<div class="formargin">
                <a class="btn" href="https://www.facebook.com/braintumornetwork">
                    <img src="assets/images/bannerOrg-1.png" alt="braintumornetwork">
                    <div class="son">
                        <h2 class="mahmoud">Brain Tumor Network</h2>
                    </div>
                </a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

 <section id="footer">
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
      </div>

</section>


