<section id="homeTwo">
    <div class="container-fluid">
        <div  class="row backkk">
            <div class="col-md-12 content ll">
                <div class="row min-contentt ">
                    <div class="col-md-5 pForHead"> 
                        <h2 class="COLORWHITE">Brain Tumor Community</h2>
                        <p class="COLORWHITE">If you are newly diagnosed or living with a brain tumor, it can be hard to find valuable support and resources. You may be unsure of your treatment plan, unable to find others to connect with, or you may feel emotionally drained.

                            To help guide you through your brain tumor journey, patients, caregivers, doctors, and advocates share their advice. Use their words and the resources listed to help you positively cope. </p>
                        <hr class="w-25 m-auto mb-3 hrH">
                    </div>
                    <div class="col-md-5 offset-md-2 p-3 bgInfo">
                        <div class="mahmoud baccForHeadzero p-2">
                            <span class="comment-n"><span class="spanForHead">medical team partner</span></span>
                            <p class="comment-c pargForHead"><q>A cancer diagnosis is life-changing for patients and their families and we have the ability to help guide them</q>
                            </p>
                            <div class="clr"></div>
                         </div>
                         <div class="mahmoud baccForHeadone p-2">
                            <span class="comment-n"><span class="spanForHead">Physical Effects</span></span>
                            <p class="comment-c pargForHead"><q>You wil have moments of disappointment, depression, anger, and sadness, Accept them, let them go and get support.</q>
                            </p>
                            <div class="clr"></div>
                         </div>
                         <div class="mahmoud baccForHeadtwo p-2">
                            <span class="comment-n"><span class="spanForHead">Talk to Others</span></span>
                            <p class="comment-c pargForHead"><q>Talk to your family, your friends or colleagues. Just talk about your diagnosis. It's so difficult and scary – don’t be alone in this </q>
                            </p>
                            <div class="clr"></div>
                         </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>


<section class="">
    <div class="nonn d-none container">
        <div class="row">
            <div class="col-md-4">
                <div class="mahmoud baccForHeadzero p-2">
                    <span class="">medical team partner</span>
                    <p class="pargForHead"><q>A cancer diagnosis is life-changing for patients and their families and we have the ability to help guide them</q>
                    </p>
                    <div class="clr"></div>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="mahmoud baccForHeadone p-2">
                    <span>Physical Effects</span>
                    <p class="pargForHead"><q>You wil have moments of disappointment, depression, anger, and sadness, Accept them, let them go and get support.</q>
                    </p>
                    <div class="clr"></div>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="mahmoud baccForHeadtwo p-2">
                    <span>Talk to Others</span>
                    <p class="pargForHead"><q>Talk to your family, your friends or colleagues. Just talk about your diagnosis. It's so difficult and scary – don’t be alone in this </q>
                    </p>
                    <div class="clr"></div>
                 </div>
            </div>
        </div>
    </div>
</section>

<section id="Symptoms" class="pyT">
    <div class="container">
        <p class="fs-3">The signs and symptoms of a brain tumor vary greatly and depend on</p>
        <div class="row">
            
            <div class="col-md-6">
                <div class="forMargin">
                    <span class="forSpanColor">New onset or change in pattern of headaches</span>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="forMargin">
                    <span class="forSpanColor">rate of growth</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="forMargin">
                    <span class="forSpanColor">brain tumor's size and Location</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="forMargin">
                    <span class="forSpanColor">progressive weakness or paralysis on one side of the body</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="forMargin">
                    <span class="forSpanColor">Headaches that gradually become more frequent and more severe</span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="forMargin">
                    <span class="forSpanColor">the exact part of the brain affected</span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="forMargin">
                    <span class="forSpanColor">Vision problems, such as blurred vision, double vision or loss of peripheral vision</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Diagnosis" class="p-5">
    <div class="container">
        <div class="con">
            <div class="first">
                <span class="fw-bold"> Tumor diagnosis </span> <i class="fa-solid fa-syringe"></i>
                <div class="order-first pull-right">
                    <span data-view="full" class="fw-bold active plus">Expand All</span> |
                    <span class="fw-bold minus"> Collapse All</span>
                </div>
            </div>
            <div class="second">
                <p class="fs-5">Most brain tumors are diagnosed after symptoms appear. If it's suspected that you have a brain tumor, your doctor may recommend a number of tests and procedures, including:</p>
                <div class="linkContent">
                    <div class="btn-float pull-right">
                        <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/neurological-exam">Neurological</a>
                    </div>
                    <h2>A neurological exam</h2>
                    <div class="full-view">
                        <p>A neurological exam may include, among other things, checking your vision, hearing, balance, coordination, strength and reflexes. Difficulty in one or more areas may provide clues about the part of your brain that could be affected by a brain tumor</p>
                    </div>
                </div>

                <div class="linkContent" >
                    <div class="btn-float pull-right">
                        <a href="https://mayfieldclinic.com/pe-mri.htm">MRI</a>
                    </div>
                    <h2>Imaging tests</h2>
                    <div class="full-view">
                        <p>Magnetic resonance imaging (MRI) is commonly used to help diagnose brain tumors. Sometimes a dye is injected through a vein in your arm during your MRI study.</p>
                    </div>
                </div>

                <div class="linkContent">
                    <div class="btn-float pull-right">
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5807339/">MRS</a>
                    </div>
                    <h2>magnetic resonance spectroscopy</h2>
                    <div class="full-view">
                        <p>magnetic resonance spectroscopy — may help your doctor evaluate the tumor and plan treatment. Sometimes other imaging tests are recommended in certain situations, including computerized tomography (CT) and positron emission tomography (PET).</p>
                    </div>
                </div>
                
                <div class="linkContent">
                    <div class="btn-float pull-right">
                        <a href="https://www.mayoclinic.org/diseases-conditions/cancer/in-depth/biopsy/art-20043922">Biopsy </a>
                    </div>
                    <h2>Collecting and testing</h2>
                    <div class="full-view">
                        <p>Collecting and testing a sample of abnormal tissue (biopsy). A biopsy can be performed as part of an operation to remove the brain tumor, or a biopsy can be performed using a needle.</p>
                    </div>
                </div>

                <div class="linkContent">
                    <div class="btn-float pull-right">
                        <a href="https://www.worldsupporter.org/en/chapter/59992-neuropsychological-assessment-lezak-howieson-loring-summary-4th-edition">NPA</a>
                    </div>
                    <h2>Neurocognitive assessment</h2>
                    <div class="full-view">
                        <p> This consists of a detailed evaluation of all major functions of the brain, such as storage and retrieval of memory, expressive and receptive language abilities, calculation.</p>
                    </div>
                </div>

                <div class="linkContent">
                    <div class="btn-float pull-right">
                        <a href="https://www.hopkinsmedicine.org/health/treatment-tests-and-therapies/myelogram">Myelogram</a>
                    </div>
                    <h2>Myelogram</h2>
                    <div class="full-view">
                        <p>The doctor may recommend a myelogram to find out if the tumor has spread to the spinal fluid, other parts of the brain, or the spinal cord .</p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>



<section id="Treatment" class="newS ">
    <div class="lll">
        <div class="container ">
            <h1 class="text-center py-3">Treatment</h1>
            <p>Treatment for a brain tumor depends on the type, size and location of the tumor, as well as your overall health and your preferences.</p>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide >
                    <div class="Content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/img7.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                            </div>
                            <div class="col-md-6">
                                <div class="mContent w-75 m-auto">
                                    <h3 class="pContent py-2 text-center">Surgery</h3>
                                    <p>Surgery to remove as much of the tumor as possible is usually the first step in treating most types of gliomas. In some cases, gliomas are small and easy to separate from surrounding healthy brain tissue, which makes complete surgical removal possible.</p>
                                    <hr>
                                    <p>In other cases, tumors can't be separated from surrounding tissue, or they're located near sensitive areas in your brain and make surgery risky. In these situations your doctor removes as much of the tumor as is safe. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="Content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/img14.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                            </div>
                            <div class="col-md-6">
                                <div class="mContent w-75 m-auto">
                                    <h3 class="pContent py-2 text-center">Radiation therapy</h3>
                                    <p class="py-1">Radiation therapy uses high-energy beams, such as X-rays or protons, to kill tumor cells. Radiation therapy can come from a machine outside your body (external beam radiation), or, very rarely, radiation can be placed inside your body close to your brain tumor (brachytherapy). </p>
                                    <hr>
                                    <p>External beam radiation can focus just on the area of your brain where the tumor is located, or it can be applied to your entire brain (whole-brain radiation). Whole-brain radiation is most often used to treat cancer that spreads to the brain from some other part of the body and forms multiple tumors in the brain. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="Content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/img9.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                            </div>
                            <div class="col-md-6">
                                <div class="mContent w-75 m-auto">
                                    <h3 class="pContent py-2 text-center ">Radiosurgery</h3>
                                    <p class="py-1">Stereotactic radiosurgery is not a form of surgery in the traditional sense. Instead, radiosurgery uses multiple beams of radiation to give a highly focused form of radiation treatment to kill the tumor cells in a very small area. Each beam of radiation isn't particularly powerful, but the point where all the beams meet — at the brain tumor — receives a very large dose of radiation to kill the tumor cells.</p>
                                    <hr>
                                    <p>There are different types of technology used in radiosurgery to deliver radiation to treat brain tumors, such as a Gamma Knife or linear accelerator. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="Content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/img11.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                            </div>
                            <div class="col-md-6">
                                <div class="mContent w-75 m-auto">
                                    <h3 class="pContent py-2 text-center ">Chemotherapy </h3>
                                    <p class="py-1">Chemotherapy is the use of drugs to destroy tumor cells, usually by keeping the tumor cells from growing, dividing, and making more cells. A chemotherapy regimen, or schedule, usually consists of a specific number of cycles given over a set period of time.</p>
                                    <hr>
                                    <p>The goal of chemotherapy can be to destroy tumor cells remaining after surgery  slow a tumor’s growth or reduce symptoms.Chemotherapy drugs can be taken orally in pill form or injected into a vein (intravenously). The chemotherapy drug used most often to treat brain tumors is temozolomide (Temodar) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="Content py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/img5.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                            </div>
                            <div class="col-md-6">
                                <div class="mContent w-75 m-auto">
                                    <h3 class="pContent py-2 text-center ">Targeted drug therapy  </h3>
                                    <p class="py-1">In addition to standard chemotherapy, targeted therapy is another way doctors use medication to treat cancer. Targeted therapy is a treatment that targets the tumor’s specific genes, proteins, or the tissue environment that contributes to a tumor’s growth and survival. This type of treatment blocks the growth and spread of tumor cells and limits the damage to healthy cells.</p>
                                    <hr>
                                    <p>Targeted drug treatments focus on specific abnormalities present within cancer cells. By blocking these abnormalities, targeted drug treatments can cause cancer cells to die. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
            </owl-carousel-o>
        </div>
    </div>
</section>


<section>
    <div class="container mt-5">
        <p class="fs-5"><span class="fw-bold">Human Rights</span> Commission clarified that the rights of cancer patients are as follows: </p>
        <div class="row">
            <div class="col-md-4">
                <div class="rightContent">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Submitting a complaint if the diagnosis was disclosed without written consent.</li>
                        <li class="list-group-item">Obtaining palliative psychological and social support from specialists. </li>
                        <li class="list-group-item">Knowing the diagnosis: His family members have no right to know him without his consent.</li>
                    </ol>
                </div>
            </div>

            <div class="col-md-4">
                <div class="rightContent">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Providing early detection means through clinics concerned with this, such as the Women's Health Clinic </li>
                        <li class="list-group-item">Approval of chemotherapy and radiotherapy, and surgical intervention, and does not require the consent of the guardian.</li>
                    </ol>
                </div>
            </div>

            <div class="col-md-4">
                <div class="rightContent">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Multidisciplinary treatment, a second opinion by the treating team, or patients’ rights and relations if requested. </li>
                        <li class="list-group-item">Securing transportation or its costs for the patient and accompanying persons according to the controls, and to cover all appointments without an upper limit on their number until recovery. </li>
                    </ol>
                </div>
            </div>
    
        </div>
    </div>
</section>










<section id="footer">
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
      </div>

</section>