<section id="home">
    <div class="container-fluid">
         <div  class="row backkk">
             <div class="ll content">
                 <div class="min-contentt">
                     <div class="col-md-6"> 
                         <h1 class="COLORWHITE">What is Brain Tumor ?</h1>
                         <p class="COLORWHITE">A brain tumor is a mass or growth of abnormal cells in your brain. Many different types of brain tumors exist. Some brain tumors are noncancerous (benign), and some brain tumors are cancerous (malignant).</p>
                         <p class="COLORWHITE">If you are diagnosed with this disease, you must first take care of three things :</p>
                         <hr class="w-25 m-auto mb-3 hrH">
                     </div>
                 </div>
             </div>
         </div>
    </div>
 </section>

 <section class="">
    <div class="container">
        <div class="bgInfo">
            <div class="row for-shadow">
                <div class="col-md-4 text-center"> 
                    <div>
                        <h1>Manage Thoughts</h1>
                        <hr class="w-25 m-auto mb-3 hrH">
                        <ol class="list-group list-group">
                            <li class="list-group-item">Seek out a local or online support group to connect with others.</li>
                            <li class="list-group-item">Focus on the present moment and what you can control.</li>
                            <li class="list-group-item">Try not to compare your current self to your past self.</li>
                        </ol>
                     </div>
                </div>
                <div class="col-md-4 text-center"> 
                    <div>
                        <h1>Managing Feelings</h1>
                        <hr class="w-25 m-auto mb-3 hrH">
                        <ol class="list-group list-group">
                            <li class="list-group-item">Try to change how you look at things to help your outlook. If you can, change negative thoughts to positive thoughts.</li>
                            <li class="list-group-item">Create a coping skills box filled with things that make you feel like yourself again.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-4 text-center"> 
                    <div>
                        <h1>Managing Stress</h1>
                        <hr class="w-25 m-auto mb-3 hrH">
                        <ol class="list-group list-group">
                            <li class="list-group-item">Do breathing exercises. One easy one to try is Square Breathing.</li>
                            <li class="list-group-item">Set small goals and reward yourself for completing them. For example, doing physical therapy exercises for the day can be rewarded.</li>
                        </ol>
                    </div>
                </div>

        </div>
        
        </div>
    </div>
 </section>

<section class="">
    <div class="nonn d-none container">
        <div class="">
            <div class="row">
                <div class="col-md-4 p-2 text-center p-4"> 
                    <h1>Manage Thoughts</h1>
                    <hr class="w-25 m-auto mb-3 hrH">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Seek out a local or online support group to connect with others.</li>
                        <li class="list-group-item">Focus on the present moment and what you can control.</li>
                        <li class="list-group-item">Try not to compare your current self to your past self.</li>
                    </ol>
                </div>
                <div class="col-md-4 p-2 text-center p-4"> 
                    <h1>Managing Feelings</h1>
                    <hr class="w-25 m-auto mb-3 hrH">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Try to change how you look at things to help your outlook. If you can, change negative thoughts to positive thoughts.</li>
                        <li class="list-group-item">Create a coping skills box filled with things that make you feel like yourself again.</li>
                    </ol>
                </div>
                <div class="col-md-4 p-2 text-center p-4"> 
                    <h1>Managing Stress</h1>
                    <hr class="w-25 m-auto mb-3 hrH">
                    <ol class="list-group list-group">
                        <li class="list-group-item">Do breathing exercises. One easy one to try is Square Breathing.</li>
                        <li class="list-group-item">Set small goals and reward yourself for completing them. For example, doing physical therapy exercises for the day can be rewarded.</li>
                    </ol>
                </div>
            </div>
        </div>
       
    </div>
</section>

<section id="types">
    <div class="container pyy">
        <p class="fs-5">There are roughly 130 different<span class="fw-bold"> types of brain</span> and central nervous system tumors, all ranging from benign to malignant, and from extremely rare to relatively common. But of those 130 brain tumors,<span class="fw-bold">which are the most common? </span></p>
        <div class="row p-5">
            <div class="col-md-6 shadoww">
                <p><span class="fw-bold">Metastatic brain cancer</span> is caused by cancer cells spreading (metastasizing) to the brain from a different part of the body. </p>
                <div class="row">
                    <div class="col-md-6">
                        <p>The most common types of cancer that can spread to the brain are cancers of the lung, breast, skin (melanoma), colon, kidney and thyroid gland.</p>
                        <p>Metastatic brain tumors can grow rapidly, crowding or destroying nearby brain tissue. Sometimes a patient may have multiple metastatic tumors in different areas of the brain.</p>
                    </div>
                    <div class="col-md-6 row justify-content-center align-items-center">
                        <div class="col-md-12">
                            <img src="assets/images/img1.jpg" class="img-fluid w-75 rounded-circle">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 shadoww">
                <p><span class="fw-bold">meningioma</span> is a tumor that arises from the meninges — the membranes that surround the brain and spinal cord. Although not technically a brain tumor, it is included in this category. </p>
                <div class="row">
                    <div class="col-md-6">
                        <p>Most meningiomas grow very slowly, often over many years without causing symptoms. But sometimes, their effects on nearby brain tissue, nerves or vessels may cause serious disability.</p>
                        <p>Meningiomas occur more commonly in women and are often discovered at older ages, but they may occur at any age.</p>
                    </div>
                    <div class="col-md-6 row justify-content-center align-items-center">
                        <div class="col-md-12">
                            <img src="assets/images/img3.jpg" class="img-fluid rounded-circle">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 shadoww">
                <p><span class="fw-bold">Astrocytoma</span> is a type of cancer that can form in the brain or spinal cord,These primary tumors originate in star-shaped cells called astrocytes, which are located in the brain’s cerebrum Astrocytoma begins in this cells called astrocytes that support nerve cells. </p>
                <div class="row">
                    <div class="col-md-6">
                        <p>Astrocytoma signs and symptoms depend on the location of your tumor.</p>
                        <p>Astrocytomas that occur in the brain can cause seizures, headaches and nausea.</p>
                        <p>Astrocytomas that occur in the spinal cord can cause weakness and disability in the area affected by the growing tumor.</p>
                    </div>
                    <div class="col-md-6 row justify-content-center align-items-center">
                        <div class="col-md-12">
                            <img src="assets/images/22.jpg" class="img-fluid rounded-circle">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 shadoww">
                <p><span class="fw-bold">Glioblastoma</span> also known as glioblastoma multiforme, can be very difficult to treat and a cure is often not possible. Treatments may slow progression of the cancer and reduce signs and symptoms.</p>
                <div class="row">
                    <div class="col-md-6">
                        <p>Glioblastoma can occur at any age, but tends to occur more often in older adults. It can cause worsening headaches, nausea, vomiting and seizures. Roughly 15,000 new cases of glioblastoma are diagnosed every year.</p>
                        <p>Though it is the third most common of all brain tumors, glioblastoma is the most common primary brain tumor, which means it originates in the brain. It is also the most lethal.</p>
                    </div>
                    <div class="col-md-6 row justify-content-center align-items-center">
                        <div class="col-md-12">
                            <img src="assets/images/img2.jpg" class="img-fluid rounded-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="grades">
    <div class="container">
        <p class="fs-5">Grades and Symptoms of brain tumour are<span class="fw-bold"> graded</span> according to how fast they grow and how likely they are to grow back after treatment</p>
        <div class="row text-center p-5">
            <div class="col-md-3"> 
                <p class="w-50 text-center m-auto p-1 btn-info">Grade 1</p>
                <p class="p-2">Brain tumors are considered low grade , they grow slowly they're more likely to grow back after treatment, non-cancerous (bengin) brain tumor cells and are unlikely to spread.</p>
            </div>
            <div class="col-md-3"> 
                <p class="w-50 text-center m-auto p-1 btn-info">Grade 2</p>
                <p class="p-2">Tumors have slightly abnormal cells but they do not contain dead cells or actively dividing cells they're more likely to grow back after treatment, non-cancerous (bengin) brain tumor cells.</p>
            </div>
            <div class="col-md-3"> 
                <p class="w-50 text-center m-auto p-1 btn-info">Grade 3</p>
                <p class="p-2">both abnormal blood vessel growth and areas of dead tissue, Tumors are cancerous (malignant) brain tumors and contain actively dividing abnormal cells they're more likely to grow back after treatment .</p>
            </div>
            <div class="col-md-3"> 
                <p class="w-50 text-center m-auto p-1 btn-info">Grade 4</p>
                <p class="p-2">Tumors are considered high grade and they are aggressive and cancerous (malignant) brain tumors  , the tumor has both abnormal blood vessel growth and areas of dead tissue they're more likely to grow back after treatment.</p>
            </div>
        </div>
    </div>
</section>

<section id="risk">
    <div class="container">
        <div class="row">
            <div class="col-md-9"> <!--12-->
                <p><span class="fw-bold">A risk factor</span> is anything that increases a person’s chance of developing a brain tumor. Although risk factors often influence the development of a brain tumor, most do not directly cause a brain tumor. Some people with several risk factors never develop a brain tumor, while others with no known risk factors do. Knowing your risk factors and talking about them with your doctor may help you make more informed decisions. But, at this time, there are no known ways to prevent a brain tumor through lifestyle changes.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/rf.jpg" class="img-fluid rounded-circle">
            </div>
        </div>

        <p class="fs-5">Most of the time, the cause of a brain tumor is unknown,but <span class="fw-bold"> the following factors</span> may raise a person’s risk of developing a brain tumor:</p>
        <div class="row p-5">
            <div class="col-md-3"><!--12-->
                <p class="shadoww forPadding"><span class="fw-bold">Age</span> Brain tumors are more common in children and older adults, although people of any age can develop a brain tumor.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding"><span class="fw-bold">Gender</span> In general, men are more likely than women to develop a brain tumor. However, some specific types of brain tumors, such as meningioma, are more common in women.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding"><span class="fw-bold">Family history</span> About 5% of brain tumors may be linked to hereditary genetic factors or conditions.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding"><span class="fw-bold">Electromagnetic fields</span> Most studies evaluating the role of electromagnetic fields, such as energy from power lines or from cell phone use.</p>
            </div>

            <div class="col-md-3"><!--12-->
                <p class="shadoww forPadding"><span class="fw-bold">Race and ethnicity</span> In the United States, white people are more likely to develop gliomas but less likely to develop meningioma than Black people. Also, people from northern Europe are more than twice as likely to develop a brain tumor as people in Japan.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding"><span class="fw-bold">Ionizing radiation</span> Previous treatment to the brain or head with ionizing radiation, including x-rays, has been shown to be a risk factor for a brain tumor.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding"><span class="fw-bold"> Head injury and seizures</span> Serious head trauma has long been studied for its relationship to brain tumors. Some studies have shown a link between head trauma and meningioma but not between head trauma and glioma. A history of seizures has also been linked with brain tumors.</p>
            </div>
            <div class="col-md-3">
                <p class="shadoww forPadding "><span class="fw-bold">N-nitroso compounds</span> Some studies of diet and vitamin supplementation seem to indicate that dietary N-nitroso compounds may raise the risk of both childhood and adult brain tumors. Dietary N-nitroso compounds are formed in the body from nitrites or nitrates found in some cured meats, cigarette smoke, and cosmetics.</p>
            </div>
        </div>
    </div>
</section>



<!--<section id="" class="">
    <div class="container">
        <h1 class="text-center py-3">MAJOR SERVICES</h1>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide >
                <div class="Content text-center py-3">
                    <img src="assets/images/8.png" class="img-fluid imgContent rounded-circle w-75 m-auto">
                    <div class="mContent w-75 m-auto">
                        <h3 class="pContent py-2">body</h3>
                        <p class="py-1">You are going to use a passage of Lorem Ipsum, you need to be sure there is not anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="Content text-center py-3">
                    <img src="assets/images/9.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                    <div class="mContent w-75 m-auto">
                        <h3 class="pContent py-2">body</h3>
                        <p class="py-1">You are going to use a passage of Lorem Ipsum, you need to be sure there is not anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="Content text-center py-3">
                    <img src="assets/images/10.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                    <div class="mContent w-75 m-auto">
                        <h3 class="pContent py-2">body</h3>
                        <p class="py-1">You are going to use a passage of Lorem Ipsum, you need to be sure there is not anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="Content text-center py-3">
                    <img src="assets/images/11.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto">
                    <div class="mContent w-75 m-auto">
                        <h3 class="pContent py-2">body</h3>
                        <p class="py-1">You are going to use a passage of Lorem Ipsum, you need to be sure there is not anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</section>-->

<section id="emotional">

    <div class="container">
        <div class="row p-5">
            <div class="col-md-6">
                <p class="fsss">A brain tumor and its treatment cause <span class="fw-bold">physical symptoms and side effects, as well as emotional, social, and financial effects</span>. Managing all of these effects is called palliative care or supportive care. It is an important part of your care that is included along with treatments intended to slow, stop, or eliminate the tumor. Palliative care focuses on improving how you feel during treatment by managing symptoms and supporting patients and their families with other, non-medical needs. Any person, regardless of age or type and stage of tumor, may receive this type of care. And it often works best when it is started right after a brain tumor diagnosis. People who receive palliative care along with treatment for the tumor often have less severe symptoms, better quality of life, and report that they are more satisfied with treatment. </p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/em.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-6">
                <img src="assets/images/emm.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="fsss">you can have <span class="fw-bold">emotional and social effects</span> after a brain tumor diagnosis. This may include dealing with a variety of emotions, such as sadness, anxiety, or anger, or managing your stress level. Sometimes, people find it difficult to express how they feel to their loved ones. Some have found that talking to an oncology social worker, counselor, or member of the clergy can help them develop more effective ways of coping and talking about a brain tumor.<br>Attention should be paid to psychological support for patients and their relatives, which is the most important step in treatment, but rather the basis of treatment. Rehabilitation after treatment Because brain tumors can develop in parts of the brain that control motor skills, speech, vision and thinking, rehabilitation may be a necessary part of recovery.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="Content text-center py-3 forwidthREs">
                    <a href="https://www.egyptianrc.org/home"><img src="assets/images/R.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto"></a>
                    <div class="mContent w-75 m-auto">
                        <h4 class="pContent py-2">Egyptian Red Crescent</h4>
                        <p class="py-1">One of the most important psychological support units for cancer patients, especially children.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Content text-center py-3 forwidthREs">
                    <a href="https://goo.gl/maps/zo8c6pihtJ8EY7kHA"><img src="assets/images/D.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto"></a>
                    <div class="mContent w-75 m-auto">   
                        <h4 class="pContent py-2">Demerdash Hospital</h4>
                        <p class="py-1">If the patient suffers from any psychological effects of the disease or expresses his feelings, he is not embarrassed to go to psychologists to provide assistance. The hospital contains specialists at simple symbolic prices.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Content text-center py-3 forwidthREs">
                    <a href=" https://mersal-ngo.org/ "><img src="assets/images/sssssssssssssqqqqwww.jpg" class="img-fluid imgContent rounded-circle w-75 m-auto"></a>
                    <div class="mContent w-75 m-auto ">
                        <h4 class="pContent py-2">Mersal Foundation</h4>
                        <p class="py-1">Treatment for a brain tumor can be expensive. It may be a source of stress and anxiety for patients and their families. There are some places that provide assistance in the cost of treatment, the most important of which is the Mersal Foundation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
      </div>

</section>

